[2016-06-27 22:08] klonos opened #5 ""Improve documentation" section: Page not found in the "currently shifting" link."
It points to `https://civicrm.org/blog/michael-mcandrew/moving-civicrms-user-and-administrator-guide-gitbook-or-readthedocs` - should point to this instead:
https://civicrm.org/blog/michael-mcandrew/moving-civicrms-user-and-administrator-guide-to-gitbook-or-readthedocs

(there's a missing "to" before the word "gitbook")

@michaelmcandrew @totten, This was more of an issue with the website rather t

[2016-06-28 04:19] totten commented on #5
@klonos, for an issue that's tied to the `*.civicrm.org` web presence (rather than the main CiviCRM codebase), the issue usually goes to http://issues.civicrm.org/ under the "Infrastructure" (INFRA) project.

For clarification... the issue sounds like a stale link (`...guide-gitbook-or-readthedocs` vs `...guide-to-gitbook-or-readthedocs`). But where do you see this link? (What is "it" in "it point

[2016-06-28 04:23] totten commented on #5
Oh, I see it in `https://civicrm.org/improve-documentation` . Fixing.

[2016-06-28 04:25] #5 closed

[2016-06-28 04:26] totten commented on #5
Aside: for something with a trivial fix like this, you can also report on https://chat.civicrm.org/ (under the "Infrastructure" channel).

[2016-06-28 10:30] klonos commented on #5
Thanx @totten ...it's that for BackdropCMS.org we use the GitHub issue queue and I thought CiviCRM would use tit too. Now I know for next time.

[2017-01-08 18:23] michaelmcandrew opened #8 "switch from symfony/yaml to the php yaml extension for yaml processing"
symfony/yaml doesn't support all yaml formatting (only a subset that is useful for configuration files).

switching to php's yaml extension should give us more robust support (and amongst other things) allow people to write yaml comments that start at the beginning of the line.

[2017-01-11 20:20] seanmadsen opened #9 "apply navbar auto-scrolling to all docs guides"
In the Dev Guide, these two PRs: [#39](https://github.com/civicrm/civicrm-dev-docs/pull/39) and [#42](https://github.com/civicrm/civicrm-dev-docs/pull/42) made a UX improvement by automatically scrolling the left navigation bar to the active element, when necessary. We should restructure this tweak so it is a shared resource, applied to all guides that live within civicrm-docs. A simple approach c

[2017-01-18 03:19] seanmadsen opened #11 "auto-generate PDF / epup versions"
SE has gotten [two](
http://civicrm.stackexchange.com/questions/16700/how-to-download-a-copy-of-the-civicrm-user-and-administrator-guide) separate [questions](http://civicrm.stackexchange.com/questions/10900/how-does-one-download-the-civicrm-4-6-user-guide-in-pdf) recently from people wishing to download the User Guide.

It would be great if the docs system would auto-generate PDF and epub copies

[2017-01-18 03:21] seanmadsen opened #12 "create a seperate repo for app/config/books where we can define books independently of this repo"
migrated from [to do list](https://github.com/civicrm/civicrm-docs/tree/638e243c6f4eb06086199e3ea8b529541368f688#to-do)

[2017-01-18 03:24] seanmadsen opened #13 "UI for editing"
find a nice user-friendly UI for people to edit the documentation (the github UI is OK but we can do better)

migrated from [to-do list](https://github.com/civicrm/civicrm-docs/tree/638e243c6f4eb06086199e3ea8b529541368f688#to-do).

[2017-01-18 03:25] seanmadsen opened #14 "Automatic publishing of extension-specific books, when possible"
should doc infra interact with extension `info.xml` files?

migrated from [to-do list](https://github.com/civicrm/civicrm-docs/tree/638e243c6f4eb06086199e3ea8b529541368f688#to-do).

[2017-01-18 03:26] seanmadsen commented on #14
@michaelmcandrew I'm not quite sure what this means. Can you clarify?

[2017-01-18 03:27] seanmadsen opened #15 "Custom theme"
A CiviCRM theme for documentation with the following goals:

* display the version branch version (e.g. in user guide, show "4.6" or "latest")
* link to docs.civicrm.org documentation home page (to allow user to switch between books/versions/etc)
* link to civicrm.org home page
* colors/branding matching CiviCRM branding, to some degree (not aiming for 100% match here, but at least a little bit)
*

[2017-01-18 03:27] seanmadsen opened #16 "Book validation during publishing"
Book validation as part of publishing ( missing images (ack '\!\[.*\]\((.*?)( ".*)?\)' -h --nobreak --output='$1' will give all images)

migrated from [to-do list](https://github.com/civicrm/civicrm-docs/tree/638e243c6f4eb06086199e3ea8b529541368f688#to-do).

[2017-01-18 03:35] seanmadsen opened #17 "Create "Administrator Guide" book, separate from User Guide"
We currently have a User Guide and a Developer Guide. The addition of an Administrator Guide would round out the documentation and cover topics such as installing/updating core, finding/installing extensions, and basic troubleshooting. Some of this content is currently in the User Guide (e.g. [here](https://docs.civicrm.org/user/en/stable/initial-set-up/installation-and-basic-set-up/)) and some of

[2017-01-18 03:39] seanmadsen opened #18 "Home page which gives list of all books in system"
The docs system should provide a welcoming home page at docs.civicrm.org which lists all the books defined in `app/config/books/`.

migrated from [to-do list](https://github.com/civicrm/civicrm-docs/tree/638e243c6f4eb06086199e3ea8b529541368f688#to-do).

[2017-01-18 03:57] seanmadsen opened #20 "System to create internal redirects within each book"
Within the Developer Guide content migration, a [need](https://github.com/civicrm/civicrm-dev-docs/issues/25) emerged rather quickly to be able to move a page without giving a 404 error to any incoming links. The docs system should provide a way for each book to specify internal redirects.

MkDocs has [stated](https://github.com/mkdocs/mkdocs/issues/45#issuecomment-234826923) that they want redire

[2017-01-18 04:02] seanmadsen opened #21 "Change docs system to work with Apache instead of nginx"
@michaelmcandrew and I talked on Mattermost yesterday about the steps needed to implement [internal redirects](https://github.com/civicrm/civicrm-docs/issues/20) for each book, which is a high-priority issue, slowing the progress of content migration within the Developer Guide. Michael recommended that switching the server from nginx to Apache would make this internal redirects project easier. Thi

[2017-01-18 09:49] michaelmcandrew commented on #14
Hey there,

It's a vague one, I know. It's basically about ensuring that we are doing as much as we can to automate the publishing of extensions documentation.

I think the info.xml file in extensions has a documentation tag (or if not, it probably should) and maybe civicrm-docs should interfact with that somehow??

I think that our translation infrastructure does something similar when extensions

[2017-01-18 09:51] michaelmcandrew commented on #18
FYI, this is already happening - it is just being hidden by a redirect. It does need a bit of fleshing out. Copying content from http://civicrm.org/documentation to https://github.com/civicrm/civicrm-docs/blob/master/src/AppBundle/Resources/views/Read/home.html.twig would do it.

[2017-01-18 17:22] seanmadsen opened #22 "Provide language and version switching capability within books"
The User Guide has multiple versions and multiple languages, all of which are listed on https://civicrm.org/documentation but many URLs for this guide point only to the latest English version at https://docs.civicrm.org/user/en/latest/. Once a reader arrives there, it is not apparent that they have the option to read the guide in other languages or for other versions.

[2017-01-18 17:56] nganivet commented on #14
Seems like this one is far-fetched. Extension documentation should be linked to in the extensions directory and eventually in-app, but I see no reason to link to any extension's documentation from the user manuals. Or am I missing something?

[2017-01-18 19:57] michaelmcandrew commented on #14
@nganivet - one of the aims of the new documentation project is to provide a recommended process for creating extension documentation and a place to publish it. so docs.civicrm.org has the user, admin and dev guide, but also docs.civicrm.org/extensions/cividiscount, docs.civicrm.org/extensions/civivolunteer, etc. That infrastructure is pretty much there now - we just need people to start using it.

[2017-01-18 19:59] michaelmcandrew commented on #22
i don't think the other language versions are complete enough to be linked to just now. The https://docs.civicrm.org/ home page provides that facility. As soon as a stable version is created for a book in the books.yml file, it will show up there...

[2017-01-18 20:06] nganivet commented on #14
Yes, does not surprise me, the extensions' documentation should probably
be in Github with the extension, either in the README.md or in the wiki.
Spreading it in multiple locations does not make sense unless there are
significant benefits in doing so.

------ Original Message ------
From: "Michael McAndrew" <notifications@github.com>
To: "civicrm/civicrm-docs" <civicrm-docs@noreply.github.com>
Cc:

[2017-01-18 20:30] michaelmcandrew commented on #14
To clarify:

* Extension authors will write their documentation directly in the github repo.
* People would be free to consume it directly in github if they wanted to, but the readthedocs based UI on docs.civicrm.org provides a much nicer UI for reading documentation
* The wiki is deprecated for documentation.

i.e. we are not suggesting spreading it in multiple locations.

To put the lack of take

[2017-01-18 20:42] totten commented on #14
Personally... as a developer who often works on Github... big +1 for storing the docs from each extensions' git repo, although... by the same token... the aesthetic/usability benefits of `mkdocs` aren't a huge deal for me. But I see the argument for more user-oriented materials.

If I understand, this is basically trying to create a stronger norm for docs among extensions. You just create some Mar

[2017-01-18 21:43] seanmadsen commented on #14
A couple examples of the current state of things that I've come across recently and feel demonstrate the need for greater structure/consistency around extension documentation.

- **CiviVolunteer** has several pages of good documentation in the [wiki](https://wiki.civicrm.org/confluence/display/CRMDOC/CiviVolunteer) (but the wiki makes it hard to tell there is even more than one page there). Also a

[2017-01-20 15:59] seanmadsen opened #23 ""Edit on GitHub" should take user to specific page"
When reading a guide book, the reader/user can click a link at the top right to "Edit on GitHub". This link takes the user to the root of the GitHub repository. From that point, the user does not have an intuitive way of finding the page to edit. It would be nice if the "edit" link took the user to edit exactly the page being viewed.

[2017-01-23 16:55] wmortada commented on #17
I think this is a great idea.  I would like to see a lot of the more technical aspects of setting up and configuring CiviCRM taken out of the User Guide.  I think this would make it much easier for the end user.

[2017-01-23 18:09] nganivet commented on #17
+1. It makes sense because these are very different profiles/skills, and we want to focus the User Guide on 'using CiviCRM'. We still need to talk about extensions, but this shoulld only be to say that we can extend the features of CiviCRM, link to the extensions directory (civicrm.org/extensions), give some examples of popular extensions, and point to 'ask your local administrator to install thes

[2017-01-23 18:19] stevekessler commented on #17
Absolutely +1 on this.

We need to make sure that the user documentation/book is as easy to use as possible. NO code other than inserting a token.  We can link to separate admin documentation when needed.

-Steve

[2017-01-24 09:53] michaelmcandrew commented on #17
Hey there,

The original intent of this ticket was to separate sys admin stuff out of the *developer guide*, more than it was out of the user guide. In actual fact, we have very little sys admin stuff in the user guide.

@stevekessler - I agree though want to point out that this is already a principle we follow. I am fairly sure that there is no code in the user guide. If some has slipped through,

[2017-01-24 10:13] wmortada commented on #17
@michaelmcandrew thanks for clarifying this.

My point, is that installing and setting up CiviCRM is a necessarily more technical task than everyday use of CiviCRM.  Many people use CiviCRM everyday and need simple clear information about how to do so.  They don't need to know how to install it.  Yet the user guide starts off with a section on [Installation and basic set-up](https://docs.civicrm.o

[2017-01-24 11:21] michaelmcandrew commented on #17
@wmortada - yes - would be good to discuss that. might help if you could outine what chapters you'd suggest moving and we can take it from there.

Actually hosting (and a few other chapters) come before Installation and basic set-up :)

But I do agree we could improve things.

[2017-01-24 14:43] wmortada commented on #17
@michaelmcandrew okay. I've added my proposal as an issue.

https://github.com/civicrm/civicrm-user-guide/issues/141

[2017-01-24 16:27] seanmadsen opened #24 "The "Publishing" email notificiations should include commit messages"
When civicrm-docs publishes a book, it send out an email notification. It would be helpful if, within these email messages, it could include the commit messages (and authors) of the changes published. This way people who didn't make changes but still got the email will see what happened.

This is low priority. Just a thought.

[2017-01-25 08:17] michaelmcandrew opened #25 "Clarify user / admininstrator / developer terminology"
The words user and developer are pretty clear.

Administrator is ambigious since it can refer to

* an advanced user that sets things up for other users using the UI
* a system administrator that does stuff like install, host, and is familiar with CLI, SSH, FTP, DNS, etc.

I'm not sure that coming up with a rule like "administrator MUST only be used to signify system administrator" is a good idea

[2017-01-25 08:18] michaelmcandrew commented on #24
nice idea :)

[2017-01-25 16:29] seanmadsen commented on #25
+1

Important for clarifying boundaries between books, especially when we introduce an Admin Guide. Definitely the lines are blurry.

First off, I would offer the following definitions:

* ***system* administrator** - one who performs any of the following tasks:
    * access the CiviCRM filesystem directly
    * install or update CiviCRM
    * work with CiviCRM from the command line
    * inspect

[2017-01-25 17:34] nganivet commented on #25
advocate for core to remove links like "Manage events" from the admin console (since that feature is easily discoverable elsewhere). Then, the admin console could serve as the authoritative definition of what a "site administrator" does.
+1 on this.

-1 on splitting the CiviCRM Administrator Guide along system administration and site administration as the line is blurry between the 2 (ie. download

[2017-01-25 17:55] seanmadsen commented on #25
I am open to keeping "site admin" tasks in the User Guide, or not. I don't really have a strong opinion about this.

But I would argue that "installing CiviCRM" is clearly a "system admin" task since it includes accessing the filesystem. As well, I would argue that the installation or upgrading of any extensions is, as well, a *system* admin task, even though it *can* be done strictly from within

[2017-01-25 17:57] seanmadsen commented on #25
Here's another idea for for a classification rubric...

How much *risk* does the task have of *breaking* something?

* Very little. Anything broken will be sufficiently isolated from other elements of CiviCRM.
    * **"User" task**
* Some risk of breaking important things
    * **"Site admin" task**
* Risk of breaking entire site
    * **"System admin" task**

[2017-01-25 18:10] michaelmcandrew commented on #25
Sean, I think you hit the nail on the head with your site admin / system admin differentiation.

If it can it be done with the UI:  site admin or user and hence in civicrm-user-guide
If it cannot be done with the UI: (i.e. it requires some CLI, ftp, php, mysql) then system-admin or developer

Looking at the extensions example, we include a section in the user guide on extensions because they can b

[2017-01-25 20:25] seanmadsen commented on #21
We decided to go a different direction and stick with nginx.

See [INFRA-240](https://issues.civicrm.org/jira/browse/INFRA-240)

Closing

[2017-01-25 20:25] #21 closed

[2017-01-25 20:27] seanmadsen commented on #20
@michaelmcandrew I hope it's okay for me to assign this to you.

Once [INFRA-240](https://issues.civicrm.org/jira/browse/INFRA-240) is closed, then you can make the changes needed to civicrm-docs, right?

[2017-01-25 20:29] seanmadsen commented on #18
Great. I can see this home page with my local install now. Closing this issue, and will create others about improving the home page

[2017-01-25 20:29] #18 closed

[2017-01-25 20:31] seanmadsen opened #26 "home page - add some more info about docs, generally"
If we want to redirect civicrm.org/documentation to docs.civicrm.org eventually, we'll need some more info on the docs home page.

Michael [said](https://github.com/civicrm/civicrm-docs/issues/18#issuecomment-273431305) It does need a bit of fleshing out. Copying content from http://civicrm.org/documentation to https://github.com/civicrm/civicrm-docs/blob/master/src/AppBundle/Resources/views/Read/

[2017-01-25 20:32] seanmadsen opened #27 "Home page - improve visual style"
Would be great to get the branding on the docs home page to match that on civicrm.org. For example, putting the logo up there, and using the same font, colors, etc.

[2017-01-25 20:34] seanmadsen opened #28 "Home page - books missing"
In my local installation of civicrm-docs I see a home page which lists the User Guide but does not list the Dev Guide. When I publish all books via command line the Dev Guide is include in this publishing process, so the app is well aware of the existence of the Dev Guide. Tim also [observed](https://chat.civicrm.org/civicrm/pl/7fh9y7w5o7d458yukjsuf33mby) the same behavior.

[2017-01-26 00:18] seanmadsen opened #30 "Create book categorization functionality"
I would like for civicrm-docs to be capable of hosting extension-specific books eventually. I can imagine a day when there are a handful of books core-related books (e.g. User, Admin, Dev), plus over a dozen extension-specific books. When this day comes, having a docs home page that separates core-related books from extension-specific books will make the home page easier to navigate.

I propose th

[2017-01-26 00:22] seanmadsen opened #31 "Create book sorting functionality"
Currently the home page lists books alphabetically. I'd like to eventually show books in the following order:

* User Guide
* Administrator Guide
* Developer Guide

I'm proposing adding a new configuration value to each book's `.yml` file as follows:

[code]

Then books could be assigned specific weights and ordered as such.

[2017-01-26 10:31] michaelmcandrew commented on #31
Or use a yaml file ordering (and maybe grouping) - might be more consistent / intuitive. But yes, we need ordering.

[2017-01-26 10:33] michaelmcandrew commented on #30
Sounds good.

[2017-01-26 10:37] michaelmcandrew commented on #28
NOt a bug - only stable books are published: https://github.com/civicrm/civicrm-docs/blob/master/src/AppBundle/Controller/ReadController.php#L52

[2017-01-26 10:37] #28 closed

[2017-01-26 10:40] michaelmcandrew commented on #20
sure

[2017-01-26 10:47] michaelmcandrew commented on #31
Also, I'm thinking we should keep extensions alphabetised for now.

If there are only three books that we want to have a specific order in their own section, we might be justified in hard coding that view logic in the template: https://github.com/civicrm/civicrm-docs/blob/master/src/AppBundle/Resources/views/Read/home.html.twig

[2017-01-26 10:48] michaelmcandrew commented on #27
The css is pulled direct from civicrm.org - see https://github.com/civicrm/civicrm-docs/blob/master/app/Resources/views/base.html.twig#L9 so fonts and colours should match already.

Just need to add the logo https://civicrm.org/sites/civicrm.org/themes/civicrm_bootstrap/logo.png and make appropriate use of bootstrap's layout tools.

[2017-01-26 19:42] seanmadsen commented on #31
+1 for alphabetized extension books, even when core books are custom-sorted.

[2017-01-26 19:59] seanmadsen commented on #31
@michaelmcandrew re: "Or use a yaml file ordering"

Keeping the ordering data within each book's `.yml` file feels a little cleaner to me. With a separate file for sorting, then we run the risk of a book being defined in it's own file but not the sorting file, or vice versa. And perhaps the only negative affect of this bad data right now would be that the books wouldn't be sorted correctly. But in

[2017-01-27 10:49] michaelmcandrew commented on #8
But wil alienate people that can't install the php yaml extension, so maybe we shouldn't...

[2017-01-27 12:38] ErichBSchulz commented on #8
I think keep it simple...

[2017-01-27 14:10] michaelmcandrew opened #32 "Migrating content from stack exchange to docs"
It strikes me that Stack Exchange is potentially a great source of inspiration / content for our documentation. http://civicrm.stackexchange.com/questions?sort=votes has a list of topics that we should ensure are represented in the docs.

I imagine post popular *answers* as well would be useful but I can't find the an appropriate URL for that.

We can use the content from SE as (a starting point)

[2017-01-27 16:11] seanmadsen commented on #32
+1 Yeah, I love this idea!

This is not to say that every SE question should warrant docs updates, but in some ways SE shows us where the docs are failing.

[2017-01-28 04:39] ErichBSchulz commented on #32
I love SE!!

But!! I think at this stage the doco is horribly split between wiki and mkdocs so I reckon major effort should be on transferring the reference material from there to the mkdocs (ie phase 1)

While this is happening the SE will function and harvest the missing piece relatively painlessly - and when the wiki transfer is complete then can use SE as a source of new content?

[2017-01-28 15:27] seanmadsen commented on #32
+1 on prioritizing wiki

[2017-01-29 22:40] seanmadsen commented on #15
Note to self: this looks like the place to put the new theme in place, once created:

https://github.com/civicrm/civicrm-docs/blob/master/src/AppBundle/Utils/Publisher.php#L103

[2017-01-29 23:04] seanmadsen commented on #15
Evaluate existing themes to pick a good one to fork:

* [readthedocs](https://github.com/mkdocs/mkdocs/tree/master/mkdocs/themes/readthedocs) - good
* [mkdocs](https://github.com/mkdocs/mkdocs/tree/master/mkdocs/themes/mkdocs) - not so good
* [Cinder](https://github.com/chrissimpkins/cinder) - ??
* [Material](https://github.com/squidfunk/mkdocs-material) - ??
* [Alabaster](https://github.com/iamal

[2017-01-30 04:27] seanmadsen commented on #15
@michaelmcandrew @totten @ErichBSchulz @nganivet Can I get some feedback here?

I've looked at the above themes that already exist for MkDocs and I find Material to be far and above better than the other themes. The readthedocs theme (which we currently use) is in 2nd place, by in my opinion, pretty far behind.

**How do you feel about basing our custom theme on *Material*?**

Make sure to [look a

[2017-01-30 05:31] nganivet commented on #15
@seanmadsen impressive theme! The demo looks really professional. I have not seen the ability to switch to another version and export to pdf as the readthedocs theme does (![readthedocs](https://cloud.githubusercontent.com/assets/3435067/22413152/9cb83444-e672-11e6-97e2-77081c3aab79.png)). Both are a must for our documentation. Did I miss ssomething, or can we add this to the theme by copying/past

[2017-01-30 06:54] michaelmcandrew commented on #15
Awesome @seanmadsen.  It is an impressive theme. Maybe the biggest +1 for me is the internal page nav on the right hand side by default (as opposed to being inserted in the left hand ala rtd), which I wanted to implement for our theme. It's similar to, for example http://getbootstrap.com/css/ and I like it.

I tried it on the user guide and I'd be tempted to switch even as a default as it makes th

[2017-01-30 16:56] seanmadsen opened #33 "How will users switch between different versions of a book?"
@nganivet [raised the issue](https://github.com/civicrm/civicrm-docs/issues/15#issuecomment-275983259) of documentation users needing a clear and usable way to switch between different versions of a book. For example if a user lands on the User Guide for CiviCRM 4.6, how does this user switch to the User Guide for the most current version? What indication does the user even have that they could po

[2017-01-30 16:56] seanmadsen commented on #33
@nganivet to respond here to the point you raised, it's a bit complicated (hence the separate thread for this topic). You said "switch to another version and export to pdf as the readthedocs theme does".

**The "readthedocs" theme actually does *not* do version switching**.

In fact, **MkDocs doesn't even do version switching** regardless of which theme one uses with it, which is a pretty big disa

[2017-01-30 16:59] seanmadsen commented on #33
**Here's how I want to do version switching**

1. Provide a really nice home page at docs.civicrm.org. I've already started adding some issues in pursuit of this goal
1. Have the docs home page list all versions (and media, like PDF) for each book &mdash; we get control, and can do it right.
1. Make our custom theme link to docs.civicrm.org with very clear and intuitive link placement so that ever

[2017-01-30 17:00] seanmadsen commented on #15
@nganivet I've moved the discussion about version switching to #33

[2017-01-30 17:51] nganivet commented on #33
Thanks for the clarification, I did not know about 'hosted'-specific features. I would personally like to:
1. keep the drop-down to switch versions in the UI, in a very similar way it was done for the wiki (including the alert if you are not on the latest). Probably in the header as there is no side-bar menu in the new theme.
2.  that the version slugs match the git branches: right now we have 'st

[2017-01-30 17:59] seanmadsen commented on #33
PDF/ebook creation is a separate feature, tracked in #11. I have not researched it yet. If you want to help with this, that would be great!

[2017-01-30 18:03] seanmadsen commented on #33
@nganivet:

Yes, I agree that this interface is best. But unfortunately my research thus far tells me that implementing something like this within our current docs system will be a *lot* of work, which is why I'm proposing using the docs home page as a way to switch versions. Perhaps I'm wrong though, do you have an idea for how to implement it that would be easy?

[2017-01-30 18:06] nganivet commented on #11
This is done through the mkdocs-pandoc package.
* Short documentation: http://blog.kriptonium.com/2016/10/convert-mkdocs-to-pdf.html
* Full documentation: https://github.com/jgrassler/mkdocs-pandoc

[2017-01-30 18:15] nganivet commented on #33
This would be a fairly easy Javascript snippet to write (get the URL, extract version info, display drop-down with other version names/URLs and eventually warning). The only difficulty would be if we need to check that each target exists (ie. a page for a new hook in master will not exist in 4.6), but if we leave this aside for now (maybe with a small warning that the destination pages might not e

[2017-01-30 18:22] seanmadsen commented on #33
@nganivet Cool. I'm glad you think it will be fairly easy. Given your "Javascript snippet" approach, I think we can basically add this feature to the running list of features to implement in our custom theme. I would love to have your help on implementing it when the custom theme is up and running.

[2017-01-30 18:31] nganivet commented on #33
Yep, count on me.

Sent from my iPhone

On Jan 30, 2017, at 11:22 AM, Sean Madsen <notifications@github.com> wrote:

@nganivet <https://github.com/nganivet> Cool. I'm glad you think it will be
fairly easy. Given your "Javascript snippet" approach, I think we can
basically add this feature to the running list of features to implement in
our custom theme. I would love to have your help on implementi

[2017-01-30 19:02] seanmadsen commented on #15
Ok here's how I want to implement this custom theme

1. Use the Material as a starting point
1. Implement our customizations using [theme extension](http://squidfunk.github.io/mkdocs-material/customization/#extending-the-theme) which means we **create new css and js files which get *added*** to the Material theme
    * a different approach would be to fork the theme, make changes, and periodically

[2017-01-30 19:11] colemanw commented on #33
FYI I wrote the javascript snippet which displays the "you are viewing
the current/archived version" bar on the wiki. It's not perfect because
if wiki pages don't have exactly the same title & url from version to
version it gets lost, but other than that it works.

On 01/30/2017 01:31 PM, nganivet wrote:

[2017-01-30 19:14] colemanw commented on #15
Go for it :)

On 01/30/2017 02:02 PM, Sean Madsen wrote:

[2017-01-30 20:00] nganivet commented on #33
Coleman - if you send me this snippet I can adapt it for mkdocs. Thanks.

------ Original Message ------
From: "colemanw" <notifications@github.com>
To: "civicrm/civicrm-docs" <civicrm-docs@noreply.github.com>
Cc: "nganivet" <nicolas@cividesk.com>; "Mention"
<mention@noreply.github.com>
Sent: 1/30/2017 12:12:00 PM
Subject: Re: [civicrm/civicrm-docs] How will users switch between
different versions

[2017-01-30 20:07] nganivet commented on #15
I would just align with the (informal) naming conventions and maybe title the repo mkdocs-theme-ext or mkdocs-material-ext. Sound more homogeneous to civicrm-dev-docs, civicrm-drupal or apachesolr_civiAttachments (maybe the last one should be named apachesolr-civiAttachments ;-))

[2017-01-30 21:22] totten commented on #15
Sounds good!

Another big +1 on this. IMHO addresses the single biggest issue with the default theme.

Agree that having some dashes would be more conventional.

Most of the civicrm repos include `civicrm-` because it helps ensure that contributors' forks have useful names. (Ex: If Alice contributes to `civicrm/docs` and `fizzbuzzerp/docs`, then `alice/docs` becomes a conflicted name.) The names

[2017-01-31 03:17] seanmadsen commented on #15
@michaelmcandrew can you do step 5 in my list above? Then I'd like to set `theme: material` within the Dev Guide `hooks-op-4` branch so that we can (1) make sure Material is working on www-prod and (2) see how the hooks option 4 migration looks within Material, like you were [wondering](https://github.com/civicrm/civicrm-dev-docs/issues/71#issuecomment-276051961).

[2017-01-31 06:14] seanmadsen commented on #33
I'm closing this issue now, since we have [civicrm-docs-material#4](https://github.com/civicrm/civicrm-docs-material/issues/4) to track further work on it

[2017-01-31 06:14] #33 closed

[2017-01-31 06:16] seanmadsen commented on #23
I'm closing this issue now, since it will be addressed by the switch to Material in #15

[2017-01-31 06:16] #23 closed

[2017-01-31 06:17] seanmadsen commented on #9
I'm closing this issue now since it will be moot after the switch to Material in #15

[2017-01-31 06:17] #9 closed

[2017-01-31 06:21] seanmadsen commented on #22
This is pretty much a duplicate of #33 and thus will be addressed within [civicrm-docs-material#4](https://github.com/civicrm/civicrm-docs-material/issues/4)

[2017-01-31 06:21] #22 closed

[2017-01-31 07:02] seanmadsen opened #34 "Force a standard set of markdown extensions to be enabled for all books"
There are some markdown extensions that we basically just want to be enabled all the time, even if each book's `mkdocs.yml` file doesn't enable them. I think we should force them to be enabled at [this point in the code](https://github.com/civicrm/civicrm-docs/blob/master/src/AppBundle/Utils/Publisher.php#L103).

It should set the following:

[code]

More details within [Material's docs](http://sq

[2017-01-31 07:21] michaelmcandrew commented on #15
@seanmadsen number 5 now done (though without sudo for now). Let me know if that worked for you.

[2017-02-01 00:20] seanmadsen opened #35 "Restrict web crawler bots to crawl only one branch per book?"
Sometimes I am searching for docs in other projects and the google results take me to a version-specific docs page, which sometimes is outdated. Other times google will display separate results for separate versions, both with the same content, which is somewhat confusing. Also my limited understanding of SEO tells me that this is bad SEO, too.

I wonder if it would be easy/possible/desirable for

[2017-02-01 03:00] seanmadsen opened #36 "How do we include theme customizations in this repo?"
So, we have a separate repository, [civicrm-docs-material](https://github.com/civicrm/civicrm-docs-material) for the theme customizations which was part of my [plan](https://github.com/civicrm/civicrm-docs/issues/15#issuecomment-276156953), but now I'm doubting this choice a bit, after talking with @michaelmcandrew today. I'd like some advice on the best way to proceed here, especially from @totte

[2017-02-04 19:26] seanmadsen opened #38 ""watch page" feature"
It'd be great if a person choose to get email notifications any time someone else changed a page, kind of like in a wiki.

[2017-02-09 23:51] totten commented on #36
I'd say there's four situations:
 * (A): www-prod when publishing books
 * (B): locally for theme developers to use with `mkdocs serve`
 * (C): locally for civicrm-docs developers after doing `civibuild create docs`
 * (D): locally for content authors using `mkdocs serve` (who want realistic previews)

Approach depends how important it is to support B+D working with the proper theme. I'd lean towa

[2017-02-10 01:03] seanmadsen commented on #36
Great. I agree that `#2` sounds good. I'll make it happen. Thanks for weighing in, @totten

[2017-02-10 06:09] seanmadsen opened #40 "better CSS for definition lists"
Some definition lists on the [extension life cycle](https://docs.civicrm.org/dev/en/master/extend-stages/#definitions) page. the `dt` items looked a little nicer with the readthedocs theme. Would be quick and useful to add a little style that makes the terms pop out a bit more

[2017-02-11 16:22] seanmadsen commented on #13
On Apr 28, 2016 @michaelmcandrew [wrote](https://github.com/civicrm/civicrm-docs/commit/6aa4aca399060c607591d0dc5b82a389f9be3b4f) the following, which is the basis for this open issue here.

I would like to close this issue because I think that building our own editing UI would be more work than it would be worth. Is that okay with you @michaelmcandrew?

[2017-02-11 16:25] seanmadsen commented on #34
I have been thinking more about this and come the the conclusion that it's a bad idea. We want content editors using `mkdocs serve` to have the most realistic preview possible, so I think the extensions settings do, in fact, belong within each book. I think the only thing that should be force-added by civicrm-docs is the theme customizations, and those should be minimal.

Closing.

[2017-02-11 16:25] #34 closed

[2017-02-11 16:30] seanmadsen commented on #8
Seems like we're doing okay without this change. Can we close this issue @michaelmcandrew?

[2017-02-11 16:34] seanmadsen commented on #36
Closing now since we figured this out.

[2017-02-11 16:34] #36 closed

[2017-02-11 16:34] seanmadsen opened #42 "Set up theme customizations"

[2017-02-11 16:55] seanmadsen commented on #32
Does anyone have ideas for processes to employ for accomplishing these tasks and bringing this issue to a state where it can be closed? I think this content migration work is important, but since it will be ongoing, we won't be able to close this issue without a separate barometer for "done".

Maybe we are done when we have a *way to track* which SE questions require docs edits? Like, it would be

[2017-02-11 22:18] ErichBSchulz commented on #32
so perhaps this issue needs to be reframed as "develop a system to allow tracking of high-value SE content  to dev guide"

this could be as simple as tagging questions `for dev guide` and then removing this SE tag when migrated and ensuring that there is a comment on the appropriate answers "migrated to dev guide see [link]"

how does that sound? then that policy needs documenting somewhere?

[2017-02-12 00:12] joannechester commented on #13
This issue says "find" not "build".

[2017-02-12 00:37] seanmadsen commented on #13
Thanks for the clarification @joannechester. Indeed I was assuming "find" pretty much meant "build" in this case, as in *"find an in-browser markdown editor (for example, [Vue.js](https://vuejs.org/v2/examples/index.html)) and incorporate it into the civicrm-docs application hosted at docs.civicrm.org"*

Perhaps I was mistaken with the above assumption. And if so, I'd like some more clarification

[2017-02-12 01:38] seanmadsen commented on #32
Using SE tags still feels like we'd be hijacking the tags functionality a little bit. But all-things-considered I do like the idea.

@ErichBSchulz I think for the tagging to be useful, we'd need more than 1 tag. I'm proposing 3 separate ones.

In any case, I think that any changes to SE workflow should get buy-in from community members who are most involved in SE moderation. For this reason **I po

[2017-02-14 08:37] michaelmcandrew commented on #32
I am not sure that we need anything formal for this. I just wanted to get it in people's minds. It now appears to me in eric and sean's. How do we get it in other peoples? Maybe a sentence or two in https://docs.civicrm.org/dev/en/master/documentation/?

[2017-02-14 08:44] michaelmcandrew commented on #13
I was thinking more along the lines of find, though I would also be happy with 'glue together' :)

There are a few issues floating round on projects like http://dillinger.io/ and https://stackedit.io/editor for github integration. There are also offline tools that nearly meet our requirements like https://www.gitbook.com/editor.

I suspect that a tool will come along sooner rather than later (inde

[2017-02-14 09:19] michaelmcandrew commented on #8
yeah, and [actually](https://github.com/civicrm/cv/pull/3#issuecomment-275823339), it might be better to stick with what we have.

[2017-02-14 09:19] #8 closed

[2017-02-14 09:21] michaelmcandrew commented on #34
agreed, and I think that setting in the book repo is fine and should be encouraged even for the theme. We should just mention that we override certain settings on docs.civicrm.org.

[2017-02-15 23:56] #31 closed

[2017-03-09 21:46] seanmadsen opened #44 "remove docs:serve command"
Hey @totten I [see](https://github.com/civicrm/civicrm-docs/commit/5ea1844066be02463bc71042dd8521dcb2a8936c) that last year you added the `docs:serve` command. Do you use this command? I'm wondering if we can remove it. I've been doing a [whole bunch of refactoring](https://github.com/seanmadsen/civicrm-docs/commits/refactor-model) (so far just in my own fork) and when I came across `docs:serve` I

[2017-03-10 01:01] totten commented on #44
@seanmadsen I think it's ok to remove. TBH, half the time I've done `mkdocs serve` too.

[2017-03-10 01:01] #44 closed

[2017-03-13 01:08] seanmadsen opened #50 "Allow book versions to be defined in a more flexible way"
## Our current config schema

The way this app currently works, you define a book like this:

[code]

## End-user example from Symfony

There are a number of limitations with our current approach. For the sake of time, I won't summarize them all. But I will offer an example of the end-user experience of choosing a version within [Symfony's documentation](http://symfony.com/doc/current/setup.html):

[2017-03-15 18:37] seanmadsen opened #51 "User Guide - label 4.7 as "Latest" and 4.6 as "LTS""
This is in response to a request from @nganivet [here](https://github.com/civicrm/civicrm-docs/pull/49#issuecomment-286637921). Specific changes to implement:

* [x] Update [civicrm.org/documentation](https://civicrm.org/documentation) to change the URL for User Guide 4.7 from `/user/en/stable` to `/user/en/latest` **(Done by Sean on 2017-03-15)**
* [ ] Redirect `user/en/stable` to `/user/en/lates

[2017-03-16 04:14] #42 closed

[2017-03-16 04:14] #30 closed

[2017-03-20 02:38] seanmadsen opened #52 "Better handle concurrent requests to publish the same edition"
Deal more gracefully with the situation where a request to publish an edition is submitted while the system is current in the process of publishing that edition.

Probably we want to create a lock file when beginning the publishing process and remove this file upon completion.

The second request could be queued or discarded. I think it's best to discard it.

[2017-03-20 09:13] seanmadsen commented on #40
Done now. You can see the result [here](https://docs.civicrm.org/dev/en/latest/extend-stages/#project-maturity)

[2017-03-20 09:13] #40 closed

[2017-03-20 09:14] seanmadsen commented on #38
I still think this is a cool idea, but I think it'd be too much work to implement. Closing.

[2017-03-20 09:14] #38 closed

[2017-03-20 09:19] seanmadsen commented on #32
Ok I'm going to go ahead and close this since it seems like "it is in people's minds". I like the idea of a sentence or two somewhere in the meta docs page but I feel like task of adding that sentence is small enough and insignificant enough that it's okay if I close this issue. I'm trying to get the issue queue down a bit.

[2017-03-20 09:19] #32 closed

[2017-03-20 09:20] seanmadsen commented on #27
Done now. Closing

[2017-03-20 09:20] #27 closed

[2017-03-20 09:24] seanmadsen commented on #25
Hey folks this issue hasn't gotten any activity for a while, but I think it's still relevant and important. I think we need to come to some sort of agreement around this language, as a group. Today I made some updates to the new home page at https://docs.civicrm.org/ which offers the following language:

* **User Guide** - For staff members who regularly use CiviCRM's web-based interface as part o

[2017-03-20 09:24] seanmadsen commented on #26
Done. Closing

[2017-03-20 09:24] #26 closed

[2017-03-20 09:26] seanmadsen commented on #20
@michaelmcandrew I unassigned you from this issue because my vision for the implementation has changed a bit (which I think I talked with you about). Now that I changed the nginx config to allow the app to handle more 404 errors, we should be able to build this redirect functionality into the *app* instead of the webserver. That's what I'm thinking now. I'm game to take this on (but won't assign t

[2017-03-20 09:27] seanmadsen commented on #15
Custom theme is up and running now! Closing.

[2017-03-20 09:27] #15 closed

[2017-03-20 09:32] seanmadsen commented on #14
I would like to close this issue and will do so in 7 days if I don't hear any comments.

Here's my thinking:

* *automatically* publishing extensions books (just based on things like `info.xml` and `README`), would be cool, but I think it would be more work that it'd be worth.
* We have some extensions specific books now
* I created documentation for [how to document your extension](https://docs.c

[2017-03-20 09:48] seanmadsen opened #53 "Get details for email notifications from git repo instead of POST request"
When a book is updated, GitHub sends a webhook POST request to the app. The app then uses data from that request to (1) publish a specific book if necessary, and (2) send notification emails. We should consider the request as untrusted data. Therefor for step 2, we should not use data from the request. Instead, we should validate the `before` and `after` refs from the request and use them to inspe

[2017-03-20 09:51] seanmadsen opened #54 "Implement "watchers" email addresses in book config files"
This feature was there before my refactor, but I didn't carry it through since none of the books were actually using it.

The idea here is that in a book's yaml config file, one could specify a list of email addresses which should always be notified during the publishing process. This list should be specified at the "language" level for a book.

[2017-03-20 10:49] michaelmcandrew commented on #54
Might not be necessary. Could always watch via github

On 20 Mar 2017 9:51 am, "Sean Madsen" <notifications@github.com> wrote:

[2017-03-20 15:12] nganivet commented on #25
Very clear. I would just maybe delete 'regularly' from the User Guide since it will be most useful for people that occasionally use CiviCRM. Not having a qualifier on their usage addresses both groups.

[2017-03-20 16:36] seanmadsen commented on #54
Oh good point. I like that better because people can turn it on/off without having to edit/PR the book config files.

In light of this suggestion, I'm closing this issue.

[2017-03-20 16:36] #54 closed

[2017-03-20 16:42] seanmadsen commented on #25
@nganivet I removed "regularly". Thanks for this suggestion.

[2017-03-20 18:20] michaelmcandrew commented on #20
It's a bit more expensive to process redirects via the app but I would
have thought that with the load we'll receive, it won't be a big deal.
So if you are up for building that, I think it's a good idea.

On 20/03/17 09:26, Sean Madsen wrote:

--
Michael McAndrew
https://thirdsectordesign.org
skype: michaelmcandrew
tel: 01884 228248 (UK)
mob: 07477 665458 (UK)

[2017-03-20 18:21] michaelmcandrew commented on #14
i vote close and re-open when someone comes along with a plan.

[2017-03-20 18:33] seanmadsen commented on #14
Sounds good. Closing for now.

[2017-03-20 18:33] #14 closed

[2017-03-20 22:38] Renz21 commented on #25
Hi Sean, I will jot down my thoughts on this - as I think it is crucial to get the language spot on. I like the **risk** way of dividing up the tasks that you had:

    Very little. Anything broken will be sufficiently isolated from other elements of CiviCRM.
        "User" task
    Some risk of breaking important things
        "Site admin" task
    Risk of breaking entire site
        "System ad

[2017-03-20 23:04] Renz21 commented on #25
I could not come up with any language more specific, only to add that I would make the addition of putting the word **System** in front of the Administrator Guide.

In some ways, I think I would prefer just two Guides:

**User and Site Administrator Guide**
(for all tasks done via the GUI and after installation is complete)

**System Administrator and Developer Guide**
(for all tasks done directly

[2017-03-21 00:14] nganivet commented on #25
+1 on the above suggestion.

[2017-03-25 00:48] seanmadsen opened #55 "don't use "admin" as a path component for app functionality"
Currently we have these two routes which Symfony handles: `/admin/publish` and `/admin/listen`. I think it's likely that we'll eventually want to have a book with the slug `admin` which complicates this routing.

I'd like to change those routes to `/system/publish` and `/system/listen` respectively. I think it's unlikely enough that we'll ever want a book with the slug `system`.

[2017-04-13 18:46] seanmadsen opened #56 "Say "guides" instead of "books""
Remove language about "books", and change it to "guides" instead.

I think the home page is the only place where this change is needed within this repository.

Convo originally started by @michaelmcandrew [here](https://chat.civicrm.org/civicrm/pl/ksz16ognw3dxim6s8mmixh69pe)

[2017-04-13 18:49] seanmadsen commented on #56
Oh, also change it here too: https://github.com/civicrm/civicrm-docs/blob/master/README.md

[2017-04-13 18:49] seanmadsen commented on #56
Related: https://github.com/civicrm/civicrm-dev-docs/issues/131

[2017-04-13 19:10] xurizaemon commented on #56
I'm just proposing a reword actually - I think we can drop the use of a term in lots of places. PR in a moment.

[2017-04-13 20:03] #56 closed

[2017-04-13 20:19] seanmadsen opened #58 "Allow aliases for book slugs"
It'd be nice if, in a book's yaml config, we could specify aliases for the book slug which would redirect to the book's correct URL if requested. For example, we have a book with the slug `volunteer`. I'd be nice if we could also reach the docs (through a redirect) by requesting URLs with `civivolunter`. This would make it safer to re-name books

[2017-04-13 20:41] seanmadsen opened #59 "When acting on GitHub webhooks, only publish if docs content was modified"
Now that we have books being published from repos with actual code (in addition to just docs) I think it'd be nice to avoid the server load (and unnecessary notification emails) of re-publishing books when non-docs changes are made to the repo. For example, if an extension's maintainer makes a code change to their extension, civicrm-docs will currently re-publish the book and send a notification e

[2017-04-17 22:41] seanmadsen opened #60 "Automatic publishing for books hosted in GitLab"
We can automatically publish books when changes are made, but only if the book is hosted on GitHub (and if the owner configures the webhooks correctly). It'd be great to get something like this working for GitLab too, so that we can automatically publish books which are hosted in GitLab.

[2017-04-18 21:38] RandyTobias opened #61 "Open external links in a new tab/window."
Personally speaking, I really hate to be directed away from a site or guide when I am following a link. I'd like to have external links open in a new tab (normally with target=_blank"). I know markdown does not specifically support this behavior, so it was suggested that if people find this to be a worthwhile change, we could use JS to accomplish this task on a global scale.

If desired, this coul

[2017-04-18 21:46] seanmadsen commented on #61
I feel indifferent about this but I'm happy to help merge at PR for it as long as we get some support from other people in this thread.

[2017-04-22 11:55] xurizaemon opened #62 "Re-title wiki.civicrm.org so Docs site is preferred"
Currently searches for "civicrm docs" have the wiki at the top. By now I think we should be preferring to land people on docs.civicrm.org and linking to "legacy" docs in the wiki when necessary.

Not sure what is required to re-title wiki.civicrm.org "CiviCRM Wiki" or "Legacy Documentation" to denote this, so opening an issue to propose it.

![screen shot 2017-04-22 at 11 51 08 pm](https://cloud.g

[2017-04-22 19:53] seanmadsen commented on #62
Agreed. I think that "CiviCRM Documentation" text is coming from (1) the page title (easy to edit), and (2) the *space* title as shown [here](https://wiki.civicrm.org/confluence/spacedirectory/view.action) (which I don't think I have perms to edit). I'll see if I can get my perms elevated so that I can work on this.

[2017-04-24 14:36] mlutfy commented on #62
Josh OK'ed it, and someone has already changed the title to "CiviCRM Wiki".

[2017-04-27 21:53] seanmadsen opened #63 "Move this repo to GitLab"
We are starting to test the waters with GitLab at https://lab.civicrm.org. I'd like to migrate this repository (and our workflow) there. Is that okay with others? I'd especially like to get the go-ahead from @michaelmcandrew here. What do you think?

[2017-04-27 21:56] seanmadsen commented on #63
Also in doing this migration, I'd like to give this repo a more specific name so that it's easier to talk about with other team members. For the new name, I suggest: `docs-publisher`

[2017-04-28 07:18] michaelmcandrew commented on #63
that sounds fine (haven't kept up with the gitlab migration but i am sure there are good reasons /  looking forward to seeing the improvements). docs-publisher sounds good. In case you wanted an altertanive, there is `docs-infra` which is slightly more generic. Not sure if that is a good or bad thing :)